body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

body {
    background-color: #15202B;
}

h1 {
    color: #8899A6;
}

h3 {
    color: teal;
    font-size: 1.5rem;
}

nav {
    margin: 2%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    list-style: none;
    margin-right: 2%;
}

nav li:first-child {
    margin-right: auto;
}

nav li {
    margin-right: 16px;
    font-size: 1.2em;
    font-weight: 600;
    color: teal;
    display: inline;
}

nav li a {
    color: teal;
    text-decoration: none;
}

nav li a:hover {
    color: #8899A6;
}

main {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.user-image {
    background-color: teal;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    flex: 0 0 auto;
    margin-top: 1%;
}

.social {
    display: flex;
    gap: 16px;
    flex-direction: row-reverse;
    padding: 0;
    margin-top: 3%;
}

.social li {
    background-color: teal;
    width: 50px;
    height: 50px;
    list-style: none;
    border-radius: 12.5%;
}

p {
    color: #8899A6;
    font-size: 1.2em;
    margin-top: 1%;
    line-height: 1.5;

}

.user-bio {
    max-width: 50%;
    text-align: justify;
    flex: 1;
}

.copyright {
    font-size: 0.7rem;
    justify-self: center;
}

article {
    max-width: 60%;
    align-self: center;
}

article p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

article a {
    text-decoration: none;
    text-decoration-line: underline;
    color: #8899A6
}